@import url(http://fonts.googleapis.com/css?family=Lusitana:400,700);

body { 
    font-family: 'Lusitana', serif; 
    max-width: 1000px;
    padding: 0 20px;
    margin: auto;
    font-size: 115%;
}

div.indent {
    padding-left: 50px;
}

a.badge {
    width: 200px;
    height: 60px;
    display: inline-block;
    text-decoration: none;
    vertical-align:middle
}

.clear {
    clear: both;
}

a {
    color: #007;
}

a:hover {
    color: #FFF;
    background-color: #007;
}

a:active {
    color: #00F;
    background-color: transparent;
}

a.nounderline, a img { 
    text-decoration: none; 
    background-color: transparent;
    border: none;
}

a.uvastats {
    background-image: url(uva.png);
}

a.uvastats:hover {
    font-weight: normal;
}

a.uvastats span.stats {
    text-shadow: 0 0 4px #fff;
    -moz-text-shadow: 0 0 4px #fff;
    -webkit-text-shadow: 0 0 4px #fff;
    color: white;
    font-family: 'Verdana', sans-serif; 
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    display: block;
}

a.uvastats span.username  {
    font-weight: bold;
    font-size: 11pt;
}

a.uvastats span.accepted  {
    font-size: 10pt;
}

a.uvastats span.problems {
    font-weight: bold;
}
