@font-face {
	font-family: "CMU";
	src: url("fonts/cmunrm.ttf");
}

h1, h2, h3 {
    font-weight: normal;
}

div.center {
    text-align: center;
}

body {
    font-family: 'CMU', sans-serif;
    max-width: 900px;
    padding: 0 20px;
    margin: auto;
}

p.indent {
    text-indent: 40px;
}

ul.items li {
    margin: 0.5em 0;
}

a.badge {
    min-width: 200px;
    height: 60px;
    display: inline-block;
    text-decoration: none;
    vertical-align:middle;
    border: 2px solid white;
}

a.badge:hover {
    border: 2px solid #007;
}

.clear {
    clear: both;
}

a {
    color: #007;
}

a:hover {
    color: #FFF;
    background-color: #007;
}

a:active {
    color: #00F;
    background-color: transparent;
}

a.uvastats {
    background-image: url(uva.png);
}

a.uvastats:hover {
    font-weight: normal;
}

a.uvastats span.stats {
    text-shadow: 0 0 4px #fff;
    -moz-text-shadow: 0 0 4px #fff;
    -webkit-text-shadow: 0 0 4px #fff;
    color: white;
    font-family: 'Verdana', sans-serif;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    display: block;
}

a.uvastats span.username  {
    font-weight: bold;
    font-size: 11pt;
}

a.uvastats span.accepted  {
    font-size: 10pt;
}

a.uvastats span.problems {
    font-weight: bold;
}
