html {
	height: 100%;
}
a 
{
	text-decoration: none;
	border: none;
}

a:hover {
	border: none;
}
a:active {
	border: none;
}

body 
{
	overflow: hidden;
	height: 100%;
	background: black url('bg.jpg') no-repeat center;
	background-attachment: fixed;
}

hr
{
	border-color: white;
	clear: both;
}
.content 
{
	left: 53%;
	top: 40%;
	position: fixed;
	width: 387px;
}
.juanlopes 
{
	background: url('juanlopes.png') 306px;
	width: 306px;
	height: 51px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	float: right;
}

.juanlopes:hover 
{
	background-position: 0px ;
}

.craftsman 
{
	background: url('craftsman.png');
	width: 387px;
	height: 46px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	float: right;
}

.icons 
{
	float: right;
}

.icons *
{
	text-indent: 9999px;
	display: inline;
	overflow: hidden;
	float: left;
	width: 64px;
	height: 56px;
	 background: url('social.png') no-repeat;
}

.github { background-position: 0px 0px; }
.github:hover { background-position: -63px 0px; }

.facebook { background-position: 0px -56px; }
.facebook:hover { background-position: -63px -56px; }

.twitter { background-position: 0px -112px; }
.twitter:hover { background-position: -63px -112px; }

.google { background-position: 0px -168px; }
.google:hover { background-position: -63px -168px; }

.linkedin { background-position: 0px -224px; }
.linkedin:hover { background-position: -63px -224px; }

